body{
    margin:5% 0% 0% 3.5%;

    
}

/*----------------------------One---------------------*/
.one{
    width: 92vw;
    height: 100vh;
    background-color: rgb(255, 247, 247);

    
}

.heading{
    display: flex;
}


.logo h1{
    color:#12A68B;
    width:14%;
    font-size: 180%;
    margin:2%;

}

@media screen and (max-width:800px) {
    .body{
         flex-direction: column-reverse;
    }

    
}

.logo span{
    color: rgb(104, 54, 54);
}

nav{
    
    width: 70%;
    margin:-4% 19% 0% 17%;
}

nav li{
    display: inline;
    margin:0% 10% 0% 0%;
    font-size:120%;
    font-weight:bold;
    color:rgb(181, 177, 177);
    }

li span{
    color: #12A68B;
}

button{
    background-color: rgb(82, 165, 233);
    width:15%;
    border-radius:20px;
    margin:-4% 0% 0% 83%;
    padding:10px;
    border: rgb(82, 165, 233) ;
    color:#fff;
    font-size:15px;
}

.icons{
    display: flex;
}

.iconone{
    background-color: #dfae25;
    width:3%;
    padding:1%;
    border-radius: 50%;
    margin:5%  1% 0 0;
}

.iconone i{
    
    font-size: 190%;
    padding: 11%;
}

.icontwo{
    background-color: #12A68B;
    width:3%;
    padding:1%;
    border-radius: 50%;
    margin: 5% 1% 0  0;
}
 
.icontwo i{
    font-size: 190%;
    align-items: center;
    color: #fff;
    padding: 6%;
}

.introduction{
    width: 60%;
    margin:7% 0% 0% 0%;
}

.introduction h1{
    color: rgb(104, 54, 54);
    font-size:60px;
    
}

.introduction p{
    color:rgb(145, 133, 133);
    font-size: 18px;
}
.contact{
    background-color: #12A68B;
    width:15%;
    border-radius:20px;
    margin:1% 0% 0% 0%;
    border: rgb(82, 165, 233) ;
    color:#fff;
    font-size:15px;
}

.descriptionb{
    display: flex;
}

.description_button button{
    background-color: #fff;
    width:155%;
    border-radius:20px;
    margin:0% 0% 0% 10%;
    padding:13px;
    border:rgb(40, 30, 30) 1px solid;
    color:rgb(96, 96, 96);
    font-size:15px;
}

 button span{
    color: rgb(59, 16, 16);
    font-weight:bold;
    font-size:20px
}

.right1 img{
    float:right;
    margin:-32% 0% 0% 19%;
    width:26%;
}

.left_one img{
    float:right;
    margin:-44% 10% 0% 0%;
    width:26%
}

.years{
    border:1px solid #dfd4d4;
    width: 30%;
    margin:1% 10% 0% 5%;
    background-color: #fff;
}

.years p{
    color:rgb(104, 54, 54);
    font-weight:bold;
    text-align: center;
    line-height: 30px;
}

.years p span{
    font-size:200%;
}

.agency{
    border:1px solid #dfd4d4;
    width: 30%;
    margin:-8.4% 0% 0% 33%;
    background-color: #fff;
}

.agency p{
    color:rgb(104, 54, 54);
    font-weight:bold;
    text-align: center;
    line-height: 30px;
}

.agency p span{
    font-size:200%;
}

.project{
    border:1px solid #dfd4d4;
    width: 30%;
    margin:-8.4% 0% 0% 63%;
    background-color: #fff;
}

.project p{
    color:rgb(104, 54, 54);
    font-weight:bold;
    text-align: center;
    line-height: 30px;
}

.project p span{
    font-size:200%;
}

.slack img{
    width: 12%;
    margin:5% 0% 0% 5%;

}

.prudential img{
    width: 4%;
    margin:-6% 0% 50% 25%;
}

.prudential p{
    width:12%;
    font-size:200%;
    font-weight: bold;
    color: rgb(188, 183, 183);
    margin:-54% 0% 50% 30%;

}

.microsoft img{
    width: 15%;
    margin:-61% 0% 50% 52%;
}

.zoover img{
    width: 15%;
    margin:-61% 0% 70% 78%;
}

/*-----------------------TWO----------------------*/

.header h5{
    color:#12A68B;
    width:5%;
    margin:0% 0% 0% 45%;
}

.header img{
    width:3%;
    margin:-2% 0% 0% 49.5%;
}

.two{
    width: 92vw;
    height: 148vh;
    background-color: rgb(255, 247, 247);
    margin:23% 0% 0% 0%;
    
}

.body_two h1{
    width: 30%;
    text-align: center;
    color: rgb(104, 54, 54);
    font-size:40px;
    margin:0% 0% -20% 34%;
    
}
.design{
    width:20%;
    margin:22% 0% -13% 12%;
    padding:2%;
    background-color: #edf6fe;
}
.design i{
    background-color: #7279f7;
    color:#fff;
    padding: 5%;
    font-size: 200%;
    border-radius: 50%;
}

.design h2{
    color:rgb(104, 54, 54);
}

.design p{
    color: rgb(135, 95, 95);
    
    

}

.design h4{
    color:rgb(104, 54, 54);
}

.development{
    width:20%;
    margin:-22.4% 0% -32% 36%;
    padding:2%;
    background-color: #4fc8b2;

}

.development i{

    color:rgb(16, 14, 14);
    padding: 5%;
    font-size: 200%;
    border-radius: 50%; 
    background-color: #fff;
    
    
}

.development h2{
    color:#fff;

}

.development p{
    color: #fff; 
    font-size:98%;

}

.development h4{
    color:#fff;
}

.marketing{
    
    width:20%;
    margin:9.5% 0% -20% 60%;
    padding:2%;
    background-color: #edf6fe;
}

.marketing i{
    color:#fff;
    padding: 5.6%;
    font-size: 200%;
    border-radius: 50%; 
    background-color: rgb(239, 208, 10);
    
}

.marketing h2{
    color:rgb(104, 54, 54);
}

.marketing p{
    color: rgb(135, 95, 95);
}

.marketing h4{
    color:rgb(104, 54, 54);
}

.color img{
    width:20%;
    margin:40% 0% 0% 15%;
}

.image_two img{
    width:20%;
    margin:-40% 0% 0% 24%;
}

.left_two h5{
    float: right;
    margin:-32% 32% 0% 0%;
    color: #12A68B;
    
}

.left_two h2{
    float:right;
    width: 30%;
    text-align: center;
    color: rgb(104, 54, 54);
    font-size:30px;
    margin:-30% 14% 0% 0%;
    
}

.service{
    background-color: #fff;
    color:rgb(104, 54, 54);
    margin:-23% 14% 0% 0%;
    float:right;
    width:30%;
    padding:1%;
    border-radius: 50px;
    font-weight: bold;
}

.service span{
    color:#fff;
    margin:0% 13% 0% 2%;
    background-color: #7279f7;
    padding: 2%;
    border-radius: 80%;
}

.technical{
    background-color: #fff;
    color:rgb(104, 54, 54);
    margin:-16% 14% 0% 0%;
    float:right;
    width:30%;
    padding:1%;
    border-radius: 50px;
    font-weight: bold;
}

.technical span{
    color:#fff;
    margin:5%;
    background-color:#12A68B ;
    padding: 2%;
    border-radius: 80%;
}

.merchants{
    background-color: #fff;
    color:rgb(104, 54, 54);
    margin:-8% 14% 0% 0%;
    float:right;
    width:30%;
    padding:1%;
    border-radius: 50px;
    font-weight: bold;
}

.merchants span{
    color:#fff;
    margin:5%;
    background-color: rgb(239, 208, 10);
    padding: 2%;
    border-radius: 80%;
    margin:0% 8% 0% 2%;
}

.border{
    background-color: rgb(237, 233, 233);
    width:98%;
    padding:1%
}

/*----------------------------------------THREE---------------------*/

.body_three h1{
    font-size:250%;
    margin:3% 0% 0 29% ;
    width:60%;

}

.body_three p{
    margin:1% 0% 0 37% ;
    width:30%;
    
}

.subscribe{
    
}

.subscribe input{
    margin:2% 0% 0 29% ;
    padding:2%;
    width: 40%;
     background-color: #12A68B;
     border: #12A68B solid;
     border-radius:30px;
     color: #fff;
     
}


.subscribe button{
    padding: 1%;
    margin:0 1% 0 0;
    border-radius: 200px;
    color: #fff;
}

.circle{
    padding:20%;
    margin: -32% 0 0 0;
    font-size: 40px;
    color: #12A68B;
}

.circle2{
    padding:20%;
    border-radius: 100%;
    margin: -25% 5% 0 0%;
    float: right;
    color: rgb(239, 208, 10);
    font-size: 40px;
}

.halfcircle{
    padding:20%;
    border-radius: 100%;
    margin: -25% 5% 0 0%;
    float: right;
    color:  #7279f7;
    font-size: 40px;
}

.border2{
   
    background-color: rgb(237, 233, 233);
    width:94%;
    padding:1%;
    margin: 1% 0 0 0;
}

/*---------------------------------FOUR----------------------------------*/
.four{
    height:70vh
}

.right h5{
    color: #12A68B;
    margin: 10% 0 0 10%;
}

.right img{
    width:3%;
    margin:-2% 31% 0% 7.8%;
}

.right h1{
    margin: 2% 0 0 10%;
    width:30%;
    color:rgb(104, 54, 54);
}

.form{
    margin: 2% 0% 0% 0%;
}

.form label{
    margin: 0% 0 0 10%;
    font-weight: bold;

}

.form input{
    margin: 2% 0 0 10%;
    padding:1%;
    background-color: rgb(252, 235, 235);
    width:30%;
    border: solid  rgb(252, 235, 235);
}

.message button{
   background-color: #12A68B; 
   color: #fff;
   float: left;
   margin:0% 0 -50% 10;
}

.last_image{
    float:right;
}

.last_one{
    margin: -70% 0 0 25%;
    
    width:50%;
}

.last_two{
    margin: -70% 0 0 20%;  
    width:40%;

}